### Bibliotecas

In [286]:
# Instalação manual de bibliotecas
!pip install numpy matplotlib pandas seaborn prettytable
# Bibliotecas


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import math
import prettytable as pt

Requirement already satisfied: numpy in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (1.26.1)
Requirement already satisfied: matplotlib in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: pandas in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (2.1.2)
Requirement already satisfied: seaborn in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (0.13.0)
Requirement already satisfied: prettytable in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (from matplotlib) (4.44.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: wcwidth in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (from prettytable) (0.2.9)
Requirement already satisfied: six>=1.5 in /home/harmonia/codes/machine-learning-laboratory-2023-2/.venv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

# 1) Considere a base de dados Breast Cancer Wisconsin (Diagnostic) (baixar em http://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic). Remova a coluna ID da base de dados e separe a coluna de Diagnosis. Divida a base de dados: 70% das primeiras amostras serão o conjunto de treinamento e os restantes 30% serão usados para teste. Faça:

### Leitura inicial e cinsiderações gerais:

In [287]:
# Leitura Inicial
# data_raw = pd.read_csv('wdbc.data', header = None, names=feature_names)
data_raw = pd.read_csv('wdbc.data', header = None)
data_raw.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

O conjunto de dados é dividido em 3 faixas:
- 2 - 11: médio (da imagem)
- 12 - 21: desvio padrão (da imagem)
- 22 - 31: pior valor (da imagem)

Observe que a coluna 1 é a saída (diagnóstico), e a coluna 0 é um número de identificação irrelevante, que será removido dos dados.
Como não conhecemos a priori a influência do desvio padrão da imagem e do pior valor do atributo no diagnóstico, não iremos segmentar os dados.
Em vez disso, trataremos todos os 30 atributos como se fossem atributos comuns.

### Removemos a coluna de ID do conjunto de dados, pois ele não é relevante

In [288]:
# Removendo atributo irrelevante
data_slice_no_id = data_raw.loc[:,1:31]
data_slice_no_id.head()

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
0,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

### Renomeamos a primeira coluna para 'class'. Ela contém a saída, ou seja, o disgnóstico:

In [289]:
# Renomeia algumas colunas
data = data_slice_no_id.rename({1:'class'}, axis=1)
data
# print(data[4].var())

,class,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
0,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [290]:
data.describe()

,2,3,4,5,6,7,8,9,10,11,...,22,23,24,25,26,27,28,29,30,31
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,0.062798,...,16.269190,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946
std,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,0.007060,...,4.833242,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,0.049960,...,7.930000,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040
25%,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,0.057700,...,13.010000,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460
50%,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,0.061540,...,14.970000,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040
75%,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,0.066120,...,18.790000,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,0.097440,...,36.040000,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500

# a) Com os dados de treinamento, calcule os valores de média e desvio padrão de cada atributo para cada classe. Organize os valores em uma tabela. Comente os valores observados.

In [296]:
# Definimos o cabeçalho das tabelas:

mean_names = ['radius_mean', 'texture_mean', 'perimeter_mean', 'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean', 'concave_points_mean', 'symmetry_mean', 'fractal_dimension_mean']
se_names = ['radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se', 'compactness_se', 'concavity_se', 'concave_points_se', 'symmetry_se', 'fractal_dimension_se']
edge_names = ['radius_edge', 'texture_edge', 'perimeter_edge', 'area_edge', 'smoothness_edge', 'compactness_edge', 'concavity_edge', 'concave_points_edge', 'symmetry_edge', 'fractal_dimension_edge']
mean_names.extend(se_names)
mean_names.extend(edge_names)
feature_names = ['class']
feature_names.extend(mean_names)

# define faixa dos dados que são os atributos (exclui a classe)
faixa = np.arange(1,31)

# Extrai todos os valores únicos de classe e os coloca num vetor
classes = data['class'].unique()

# cria tabelas
tabela1 = pt.PrettyTable()
tabela2 = pt.PrettyTable()

# Adiciona cabeçalho às tabelas:
tabela1.field_names = feature_names
tabela2.field_names = feature_names

# Imprime a tabela de média
print(f"Média de cada classe:\n")
for i in range(0,classes.size):
    data_select = data[data['class'] == classes[i]]

    # Calcula média
    data_slice = data_select.iloc[:,faixa].mean()
    data_slice = data_slice.round(4)
    
    # Formata dados em linha da tabela
    row = list(classes[i])
    row.extend(data_slice)
    # Adciiona linha à tabela
    tabela1.add_row(list(row))
print(tabela1)

print('\n')

# Imprime a tabela de variância:
print(f"Variância de cada classe:")
for i in range(0,classes.size):
    data_select = data[data['class'] == classes[i]]

    # Calcula média e arredonda para 4 casas decimais 
    data_slice = data_select.iloc[:,faixa].var()
    data_slice = data_slice.round(6)
    
    # Formata dados em linha da tabela
    row = list(classes[i])
    row.extend(data_slice)
    # Adciiona linha à tabela
    tabela2.add_row(list(row))
print(tabela2)

Média de cada classe:

+-------+-------------+--------------+----------------+-----------+-----------------+------------------+----------------+---------------------+---------------+------------------------+-----------+------------+--------------+---------+---------------+----------------+--------------+-------------------+-------------+----------------------+-------------+--------------+----------------+-----------+-----------------+------------------+----------------+---------------------+---------------+------------------------+
| class | radius_mean | texture_mean | perimeter_mean | area_mean | smoothness_mean | compactness_mean | concavity_mean | concave_points_mean | symmetry_mean | fractal_dimension_mean | radius_se | texture_se | perimeter_se | area_se | smoothness_se | compactness_se | concavity_se | concave_points_se | symmetry_se | fractal_dimension_se | radius_edge | texture_edge | perimeter_edge | area_edge | smoothness_edge | compactness_edge | concavity_edge | concave_points_edge | symmetry_edge | fractal_dimension_edge |
+-------+-------------+--------------+----------------+-----------+-----------------+------------------+----------------+---------------------+---------------+------------------------+-----------+------------+--------------+---------+---------------+----------------+--------------+-------------------+-------------+----------------------+-------------+--------------+----------------+-----------+-----------------+------------------+----------------+---------------------+---------------+------------------------+
|   M   |   17.4628   |   21.6049    |    115.3654    |  978.3764 |      0.1029     |      0.1452      |     0.1608     |        0.088        |     0.1929    |         0.0627         |   0.6091  |   1.2109   |    4.3239    | 72.6724 |     0.0068    |     0.0323     |    0.0418    |       0.0151      |    0.0205   |        0.0041        |   21.1348   |   29.3182    |    141.3703    | 1422.2863 |      0.1448     |      0.3748      |     0.4506     |        0.1822       |     0.3235    |         0.0915         |
|   B   |   12.1465   |   17.9148    |    78.0754     |  462.7902 |      0.0925     |      0.0801      |     0.0461     |        0.0257       |     0.1742    |         0.0629         |   0.2841  |   1.2204   |    2.0003    | 21.1351 |     0.0072    |     0.0214     |    0.026     |       0.0099      |    0.0206   |        0.0036        |   13.3798   |   23.5151    |    87.0059     |  558.8994 |      0.125      |      0.1827      |     0.1662     |        0.0744       |     0.2702    |         0.0794         |
+-------+-------------+--------------+----------------+-----------+-----------------+------------------+----------------+---------------------+---------------+------------------------+-----------+------------+--------------+---------+---------------+----------------+--------------+-------------------+-------------+----------------------+-------------+--------------+----------------+-----------+-----------------+------------------+----------------+---------------------+---------------+------------------------+


Variância de cada classe:
+-------+-------------+--------------+----------------+---------------+-----------------+------------------+----------------+---------------------+---------------+------------------------+-----------+------------+--------------+-------------+---------------+----------------+--------------+-------------------+-------------+----------------------+-------------+--------------+----------------+--------------+-----------------+------------------+----------------+---------------------+---------------+------------------------+
| class | radius_mean | texture_mean | perimeter_mean |   area_mean   | smoothness_mean | compactness_mean | concavity_mean | concave_points_mean | symmetry_mean | fractal_dimension_mean | radius_se | texture_se | perimeter_se |   area_se   | smoothness_se | compactness_se | concavity_se | concave_points_se | symmetry_se | fractal_dimension_se | radius_edge | texture_edge | perimeter_edge |  area_edge   | smoothness_edge | compactness_edge | concavity_edge | concave_points_edge | symmetry_edge | fractal_dimension_edge |
+-------+-------------+--------------+----------------+---------------+-----------------+------------------+----------------+---------------------+---------------+------------------------+-----------+------------+--------------+-------------+---------------+----------------+--------------+-------------------+-------------+----------------------+-------------+--------------+----------------+--------------+-----------------+------------------+----------------+---------------------+---------------+------------------------+
|   M   |  10.265431  |  14.284393   |   477.62587    | 135378.355365 |     0.000159    |     0.002915     |    0.005628    |       0.001182      |    0.000764   |        5.7e-05         |  0.119052 |  0.233461  |   6.597427   | 3764.468961 |     8e-06     |    0.000338    |   0.000467   |       3e-05       |   0.000101  |        4e-06         |  18.348967  |  29.537095   |   867.718099   | 357565.42185 |     0.000478    |     0.029027     |    0.032945    |       0.002144      |    0.005578   |        0.000465        |
|   B   |   3.170222  |  15.961021   |   139.415582   |   18033.0301  |     0.000181    |     0.001139     |    0.001887    |       0.000253      |    0.000615   |        4.6e-05         |  0.012672 |  0.347133  |   0.594702   |  78.206998  |     9e-06     |    0.000267    |   0.001084   |      3.3e-05      |   4.9e-05   |        9e-06         |   3.925817  |  30.183536   |   182.982188   | 26765.425899 |     0.000401    |     0.008497     |    0.019703    |       0.001281      |    0.001743   |        0.000191        |
+-------+-------------+--------------+----------------+---------------+-----------------+------------------+----------------+---------------------+---------------+------------------------+-----------+------------+--------------+-------------+---------------+----------------+--------------+-------------------+-------------+----------------------+-------------+--------------+----------------+--------------+-----------------+------------------+----------------+---------------------+---------------+------------------------+

- Comparando os valores de médias e variâncias com os dados, pode-se observar que para os atributos 'perimeter_mean' e 'area_mean', a variância superior à média, por um fator de 4 vezes e 1000 vezes respectivamente para amostras Malignas, e cerca de 2 vezes e 40 vezes respectivamente para amostras Benignas. 
- Em geral, os valores médios dos atributos de amostras Malignas são *um pouco maiores* do que os de amostras Benignas, tanto média quanto variância. As exceções são 'fractal_dimension_mean', 'texture_se' e 'symmetry_se', onde os valores das amostras Malignas são muito próximos ou menores que os das amostras Benignas. 
- A variância dos valores dos atributos de amostras Malignas são em geral *um pouco maiores* que o de amostras benignas, com exceção de 'texture_mean', 'smoothness_mean', 'texture_se', 'smoothness_se', 'concavity_se', 'concave_points_se', 'fractal_dimension_se', 'texture_edge' e 'smoothness_edge', em que os valores são próximos ou menores.

- Os dados de média foram arredondados para 4 casas decimais (tal qual foram fornecidos os dados de entrada). A variância foi colocada em 6 casas decimais, pois alguins valores eram demasiado pequenos em magnitude.

# b) Visualize os dados de treinamento usando o t-SNE (pode usar o código pronto). Comente o gráfico obtido.

# c) Com os dados de treinamento, use o coeficiente de correlação para remover atributos redundantes (considere atributos redundantes atributos com coeficiente maior ou igual a 0,9).

# d) Com os dados de treinamento, use informação mútua entre os atributos restantes de entrada e o atributo de saída e selecione os 10 melhores atributos.

# e) Treine e teste os algoritmos com os atributos selecionados: Rocchio (com distância Euclidiana), kNN (com distância Euclidiana) e Naive Bayes (considere que os atributos tenham distribuição Gaussiana). Para selecionar o melhor valor de k, divida os dados de treinamento em treinamento e em validação. Explique as considerações realizadas.

# f) Mostre os resultados sobre o conjunto de teste na forma de matriz de confusão, e com as métricas Recall, Precisão e Acurácia (a classe positiva é a maligna) e compare os resultados entre os classificadores.

# g) Realize os passos e) e f), mas usando agora todos os atributos (com exceção do ID). Compare os resultados obtidos.

# h) Faça um relatório explicando as decisões escolhidas, apresentando os resultados e os códigos usados.